[submodule "public"]
	path = public
	url = https://github.com/jarodlam/jarodlam.github.io.git
	branch = master
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/jarodlam/hyde.git
	branch = master
